html { 
    box-sizing: border-box; 
}

*, 
*::before, 
*::after { 
    box-sizing: inherit; 
}

img {
    max-width: 100%;
}

body {
    background-color: #20202D;
    margin: 0;
    color: #ffffff;
    font-family: 'Roboto', 'sans-serif';
}

.container {
    width: 90%;
    max-width: 945px;
    margin: 0 auto;
}

.section {    
    padding-top: 64px;
    padding-bottom: 92px;
}

.section-title{
    margin: 0;
    margin-bottom: 84px;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

.hero{
    padding-top: 50px;
    background: linear-gradient(0deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
    padding-bottom: 155px;
}

.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 105px;
}

.social-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.social-links li {
    margin-left: 20px;
}

.social-links li:first-child{
    margin-left: 0px;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-subtitle {
    display: block;
    font-size: 24px;
    line-height: 28px;
    color: #FFBB01;
    margin-bottom: 14px;
}

.hero-title{
    font-size: 50px;
    line-height: 59px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.hero-description {
    font-size: 16px;
    line-height: 28px;
    max-width: 420px;
    margin-top: 0;
    margin-bottom: 20px;
}

.button {
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border-radius: 5px 5px 10px 10px;
    border: none;
    padding: 24px 42px;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #2E2E30;
    cursor: pointer;
}

.hero-avatar {
    width: 389px;
    height: 389px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url(../img/avatar.jpg);
    background-repeat: no-repeat;
    background-position: 0 -40px;
    border: 13px solid #ffffff;
    background-size: cover;
}

/*Стили для блока преимуществ*/
.features {
    background-color: #000000;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-item {
    flex-basis: 30%;
    margin-bottom: 63px;
}

.features-img{
    display: block;
    margin-bottom: 22px;
}

.features-title {
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
}

.features-text {
    margin: 0;
    font-size: 16px;
    line-height: 28px;
}

/* projects */
.projects {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);   
}

.projects-slide{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.project-text {
    display: flex;
    flex-basis: 60%;
    flex-wrap: wrap;
}

.project-title {
    flex-basis: 100%;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 41px;
}

.project-time,
.project-cost {
    flex-basis: 50%;
    margin-bottom: 44px;
}

.project-time,
.project-cost,
.project-feedback {
    display: flex;
    align-items: flex-start;
}

.project-subtitle {
    margin: 0;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}
.project-paragraph {
    margin: 0;
    font-size: 16px;
    line-height: 19px;
}

.project-icon {
    margin-right: 16px;
}

.projects-bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #FFBB01;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}
.projects-bullet-active {
    background-color: #FFBB01;
}

.projects-pagination{
    margin-top: 44px;
    text-align: center;
}

.projects-pagination {
    cursor: pointer;
}

/* contacts */

.contacts-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-form {
    background: #FFFFFF;
    box-shadow: -5px 5px 0px #FFC41D;
    border-radius: 5px;
    max-width: 380px;
    padding: 40px 48px 49px 49px;
}

.form-title {
    margin: 0;
    margin-bottom: 29px;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.input {
    background: #F8F8F8;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border: none;
    border-radius: 5px;
    padding: 18px 20px;
    padding-left: 50px;
    width: 100%;
    font-size: 14px;
    line-height: 28px;
}

.input-name{
    margin-bottom: 17px;
    background-image: url('../img/user-icon.svg');
    background-repeat: no-repeat;
    background-position: center left 20px;
}

.input-phone{
    margin-bottom: 17px;
    background-image: url('../img/phone-icon.svg');
    background-repeat: no-repeat;
    background-position: center left 20px;
}

.form-btn{
    width: 100%;
}

.contacts-data{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 42px;
}

.contacts-data a {
    color: inherit;
    text-decoration: none;
}

.contacts-text {
    flex-basis: 50%;
}

.contacts-phone,
.contacts-mail {
    flex-basis: 50%;
    margin-bottom: 53px;
}

.contacts-social { 
    flex-basis: 100%;
}

.contacts-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 15px;
}

.contacts-link {
    text-decoration: none;
    color: inherit;
    margin-right: 37px;
}

.contacts-link:hover {
    text-decoration: underline;
}

.contacts-policy {
    margin-top: 72px;
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    color: #A5A5A5;
}

/* responsive */

@media (max-width: 1100px) {
    .hero-avatar {
        width: 300px;
        height: 300px;
        border-width: 10px;
    }
}

@media (max-width: 900px) {

    .hero {
        padding-bottom: 50px;
    }

    .hero-content {
        flex-direction: column;
    }
    .hero-avatar {
        order: 0;
        width: 300px;
        height: 300px;
        border-width: 10px;
        margin-bottom: 17px;
    }

    .hero-text {
        order: 1;
        text-align: center;
    }
    
    .features-item {
        flex-basis: 45%;
        text-align: center;
    }

    .projects-slide {
        flex-direction: column;
    }

    .project-image {
        margin-bottom: 46px;
    }

    .contacts-block {
        flex-direction: column;

    }

    .contact-form {
        margin-bottom: 58px;
    }
    
    .features-img {
        display: inline;
    }

    .section-title {
        text-align: center;
    }

    .section {
        padding: 60px 0;  
    }

    .social-links{
        justify-content: center;
    }

    .contacts-data {
        text-align: center;
    }

    .contacts-phone, .contacts-mail {
        flex-basis: 100%;
    }

    .contacts-policy {
        display: block;
        text-align: center;
    }
}

@media (max-width: 564px) {
    .hero{
        padding-bottom: 75px;  
    }

    .section {
        padding: 60px 0;
    }

    .section-title {
        font-size: 19px;
        line-height: 22px;
        margin-bottom: 60px;
    }

    .hero-subtitle {
        font-size: 16px;
        line-height: 27px;
    }

    .hero-avatar {
        width: 113px;
        height: 113px;
        border-width: 4px;
        background-position: 0 -20px;
    }
    
    .hero-header {
        margin-bottom: 38px;
    }

    .social-link {
        margin-left: 5px;
    }

    .hero-title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 5px;
    }

    .hero-description {
        font-size: 14px;
        line-height: 20px;
    }

    .features-item {
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .features-title {
        font-size: 18px;
        line-height: 20px;
    }

    .features-text {
        font-size: 14px;
        line-height: 28px;
    }

    .project-title {
        font-size: 18px;
        line-height: 27px;
    }

    .project-time,
    .project-cost, 
    .project-feedback {
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .project-paragraph {
        font-size: 14px;   
    }

    .contact-form {
        padding: 40px 19px;
    }

    .form-title {
        font-size: 15px;
        line-height: 21px;
    }

    .form-btn {
        font-size: 10px;
        line-height: 28px;
    }

    .contacts-phone,
    .contacts-mail {
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .contacts-title {
        font-size: 18px;
        line-height: 21px;
    }

    .contacts-link {
        display: block;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 13px;
        text-align: center;
        margin-right: 0px;
    }

}